/* Navbar styling */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 70px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  